@import "tailwindcss";
@config "./tailwind.config.js";



@layer components {
    .custom-body {
        background-color: #ffffff;
        color: #333;
        font-family: 'Poppins', sans-serif;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #eb9df5;
        color: white;
    }

    .menu {
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        /* 🔥 Evita mostrar el menú sin perder la animación */
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .menu.visible {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        /* 🔥 Se hace visible con animación fluida */
    }




    .titulo {
        font-family: 'Nunito', sans-serif;
        color: #5B0E66;
        font-size: 32px;
        /* Tamaño grande para impacto */
        text-shadow: 3px 3px 6px rgba(7, 7, 7, 0.5),
            /* Sombra oscura para profundidad */
            -2px -2px 4px rgba(255, 255, 255, 0.3);
        /* Sombra clara para brillo */
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        -webkit-text-stroke: 1.5px #ee70ff;
        line-height: 1.1;

    }

    .group-hover:block {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }


    .custom-button {
        background-color: #5B0E66;
        color: white;
        font-family: 'Quicksand', sans-serif;
        padding: 12px 24px;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    .custom-button:hover {
        background-color: #E6007E;
    }
}

/* lineas en el navar */
.link-hover::before,
.link-hover::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #e203ff;
    width: 0;
    transition: width 0.4s ease-in-out;
}

.link-hover::before {
    top: -4px;
    left: 0;
}

.link-hover::after {
    bottom: -4px;
    right: 0;
}

.link-hover:hover::before {
    width: 100%;
}

.link-hover:hover::after {
    width: 100%;
}

.shadow-text-navar {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.filter-btn {
    display: inline-block;
    position: relative;
    padding-bottom: 8px;
}

.linea-decorativa {
    position: absolute;
    width: 90%;
    /* Ocupa todo el ancho de la página */
    height: 8px;
    background: #B5179E;
    /* Color morado, igual al botón */
    top: 893px;
    /* Pegado debajo del contenedor de botones */
    left: 40px;
}

/* ===== Estilos generales ===== */
@layer components {
    .bg-brandPrimary {
        background-color: #5B0E66;
    }

    .bg-brandSecondary {
        background-color: #B380C3;
    }

    .bg-brandAccent {
        background-color: #E6007E;
    }

    .bg-brandWhite {
        background-color: #FFFFFF;
    }

    .bg-brandGray {
        background-color: #E0E0E0;
    }
}