@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700;900&family=Bubblegum+Sans:wght@400;700;900&family=Nunito:wght@400;700;900&family=M+PLUS+Rounded+1c:wght@400;700;900&display=swap');
@import "tailwindcss";




@layer components {
    .custom-body {
        background-color: #FFFFFF;
        color: #333;
        font-family: 'Poppins', sans-serif;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #eb9df5;
        color: white;
    }

    .menu {
        opacity: 0;
        transform: translateY(-10px);
        visibility: hidden;
        /* 🔥 Evita mostrar el menú sin perder la animación */
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .menu.visible {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        /* 🔥 Se hace visible con animación fluida */
    }




    .titulo {
        font-family: 'Nunito', sans-serif;
        color: #5B0E66;
        font-size: 32px;
        /* Tamaño grande para impacto */
        text-shadow: 3px 3px 6px rgba(7, 7, 7, 0.5),
            /* Sombra oscura para profundidad */
            -2px -2px 4px rgba(255, 255, 255, 0.3);
        /* Sombra clara para brillo */
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        -webkit-text-stroke: 1.5px #ee70ff;
        line-height: 1.1;

    }

    .group-hover:block {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }


    .custom-button {
        background-color: #5B0E66;
        color: white;
        font-family: 'Quicksand', sans-serif;
        padding: 12px 24px;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    .custom-button:hover {
        background-color: #E6007E;
    }
}




/* ===== Estilos generales ===== */
@layer components {
    .bg-brandPrimary {
        background-color: #5B0E66;
    }

    .bg-brandSecondary {
        background-color: #B380C3;
    }

    .bg-brandAccent {
        background-color: #E6007E;
    }

    .bg-brandWhite {
        background-color: #FFFFFF;
    }

    .bg-brandGray {
        background-color: #E0E0E0;
    }
}